:root {
    --primaryColor: #4c08c9;
    --secondryColor: #3f82fd;
    --lightColor: #ffffff;
    --bgColor-1: #171a1c;
    --bgColor-2: #22282a;
    --lightscoundcolor: #868686;
    --padding: 8%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: var(--lightColor);
}

.home {
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    
}

span {
    color: var(--primaryColor);
}

h2 {
    font-size: 2.2rem;
    letter-spacing: .12rem;
    cursor: pointer;
}

nav {
    padding-top: 2.8rem;
    padding-right: var(--padding);
    padding-left: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: .8rem 1.5rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--lightColor);
    text-transform: capitalize;
    transition: .4s;
}

nav ul li a:hover {
    color: var(--primaryColor);
}

.content {
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-text {
    position: relative;
    bottom: 40px;
}

h1 {
    font-size: 4.65rem;
    margin: 1.7rem 0;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
    letter-spacing: .12rem;
    color: var(--secondryColor);
}

.btn {
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: .81rem 3rem;
    border-radius: 30px;
    text-transform: capitalize;
    transition: .4s;
    border: 2px solid transparent;
    margin-top: 2.5rem;

}

.btn:hover {
    background-color: transparent;
    border: 2px solid var(--primaryColor);
}

.social {
    margin-top: 50px;
}

.social a {
    text-decoration: none;
    color: var(--lightColor);
}

.social a i {
    margin-right: 10px;
    font-size: 2rem;
    transition: .2s;
}

.fa-facebook:hover {
    color: rgb(71, 71, 253);
}

.fa-instagram:hover {
    color: rgb(252, 64, 31);
}

.fa-whatsapp:hover {
    color: rgb(41, 139, 41);
}

.fa-github:hover {
    color: black;
}

.fa-linkedin:hover {
    color: blue;
}

.home .container-image {
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}

.container-image .shape {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
    transition: .5s;
    left: 50%;
    transform: translateX(-50%);
}

.container-image .shape:hover {
    opacity: 1;
    bottom: 10px;
}

.about {
    background-color: var(--lightColor);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .container-image,
.contact .container-image {
    width: 35%;
}

.about .container-image img,
.contact .container-image img {
    width: 90%;
    /* opacity: .8; */
    transition: .5s;
    position: relative;
    bottom: 0;
}

.about .container-image img:hover,
.contact .container-image img:hover {
    bottom: 10px;
    opacity: 1;
}

.about .container-text p a {
    text-decoration: none;
}

.about .container-text,
.contact .container-text {
    width: 35%;
}

p {
    color: var(--secondryColor);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}

h5 {
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}
.text-center {
    text-align: center;
}
.content-main {
    margin:  0 auto;
    text-align: center;
   
}
.members {
    background-color: var(--bgColor-1);
    padding: 2rem var(--padding);
}

.text-center {
    text-align: center;
}

.members-card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: var(--bgColor-2);
    width: 300px;
    /* overflow: hidden; */
    text-align: center;
    border: 1px solid var(--secondryColor);
    border-radius: 20px;
    margin: 1rem;
    height: 250px;
    padding: 1rem;
}
.text-card-member h5 span {
    color: var(--lightColor);
}

.img-card-member {
    width: 100%;
    height: 50%;
    /* overflow: hidden; */
}

.img-card-member img {
    width: 100%;
    transition: 2s
}

.text-card-member {
    margin-top: 16px;
    position: relative;
    top: 2rem;
}

.text-card-member p {
    font-weight: 900;
}

.img-card-member img:hover {
    transform: scale(1.4);
    z-index: -1;
}


.text-card-member a {
    display: block;
}
